bin/ 
obj/ 
MyApiGateway.csproj.user 
appsettings.Development.json 
appsettings.json 
bin/ 
obj/ 
MyApiGateway.csproj.user 
appsettings.Development.json 
appsettings.json 
bin/ 
obj/ 
MyApiGateway.csproj.user 
appsettings.Development.json 
appsettings.json 
